header
{
    display: flex;
    background-color: rgb(80, 156, 255);
    height: 70px;
    justify-content: space-between;
    align-items: center;
}

.logo img
{
    height: 70px;
}

.social img
{

    height: 35px; 
}
